<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="/layouts/header::headerLayout"></th:block>

<body>
	<th:block loyout:fragment="content">
		<div class="text-center" style="margin: 0 auto; width: 80%">
			<h1>게시판</h1>
			
			
			<!-- 검색하는 라디오버튼 + input창  -->
			<div class="row">
				<div class="col-md-6 offset-md-3 mb-3">
				
				
					<form action="/board/search" method="post">

                       <!-- 라디오버튼  -->
						<div class="form-check form-check-inline mt-2">
							<input class="form-check-input" 
								   type="radio" 
								   name="searchOption"
								         id="titleOption" 
								         value="title" 
								   checked> 
						   <label class="form-check-label" for="titleOption">Title</label>
						</div>
						
						<div class="form-check form-check-inline">
							<input class="form-check-input" 
								   type="radio" 
								   name="searchOption"
								        id="contentOption" 
								        value="content"> 
						    <label class="form-check-label" for="contentOption">Content</label>
						</div>
						
						<div class="form-check form-check-inline">
							<input class="form-check-input" 
							       type="radio" 
							       name="searchOption"
								         id="titleContentOption" 
								         value="titleContent"> 
							<label class="form-check-label" for="titleContentOption">Title + Content</label>
						</div>
						
						
						
						
						
						<div class="input-group">
						
						    <!-- input -->
							<input type="text" class="form-control" name="search">
						    
						    <!--버튼  -->   
							<div class="input-group-append">
								<button class="btn btn-outline-success" type="submit">Search</button>
							</div>
							
						</div>
						
						
					</form>
				</div>
			</div>







			<!--  실제 테이블  -->
			<table class="table table-striped">
				<thead class="table-primary">
					<tr>
						<th scope="col">#</th>
						<th scope="col">title</th>
						<th scope="col">content</th>
						<th scope="col">createDate</th>
					</tr>
				</thead>
				
				
				
				 <!--  타임리프를 이용해서 게시글을 출력 -->
				<tbody>
				
					<tr th:each="list : ${lists}">
					
						<td th:text="${list.no}"></td>
						
						<td><a th:href="@{'/board/detail/'+ ${list.no}}"
							   th:text="${list.title}"> 
						</a></td>
							   
					<td th:text="${list.content}"></td>
						
				<td th:text="${#dates.format(list.createDate,'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
					
				</tbody>

			</table>



			<!--  페이징 처리  -->
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">

					<!-- #httpServletRequest.requestURI
					          타임리프가 제공하는 라이브러리다! 
					          현재 HTTP 요청의 URI를 가져오는데 사용됩니다. -->


					<!-- 이전 버튼  + 첫번째 페이지로 오겠다!					
					     1페이지일 경우에는 이전으로 움직일 수 없다 (비활성화 되야된다.) -->
					     
					 <!-- 이전 버튼을 누를 수 없을 때 비활성화(disabled)되어야 합니다. -->
					<li th:class="${page.first} ? 'page-item disabled' : 'page-item' ">
					     
					    <!-- '<<(&laquo)'로 이전 페이지로 이동하는 버튼입니다. -->    
						<a class="page-link"
						   th:href="@{${#httpServletRequest.requestURI}(page=0)}">&laquo;</a>
					</li>




				 	<!-- 페이지 번호 -->		 			
					<!--  0부터 페이지의 총 페이지수 -1까지 숫자를 돌아가면서 각 페이지 번호를 나타낸다 -->	
					
					<!-- 0부터 총 페이지 수 - 1까지 반복하여 각 페이지 번호를 생성합니다. -->				 	
					<li th:each="i : ${#numbers.sequence(0,page.totalPages -1)}"
					    
						th:class="${page.number == i} ? 'page-item active' : 'page-item' ">
						 <!-- 현재 페이지의 번호가 i와 같은지 확인하여 활성화된 페이지 번호에 active 클래스를 추가합니다. -->
						
						<!-- 페이지 번호를 출력하고, 해당 페이지로 이동하는 링크를 생성합니다. -->
						<a class="page-link"
						   th:href="@{${#httpServletRequest.requestURI}(page=${i})}"
						   th:text="${i +1}"></a>
						   
						   <!--
						   
						   th:href="@{${#httpServletRequest.requestURI}(page=${i})}"
						     >>>  각 페이지 번호를 클릭할 때 해당 페이지로 이동하기 위한 URL을 생성합니다. 
						                     페이지 번호를 파라미터로 전달합니다.
						   
		                    th:text="${i + 1}": 
						     >>> 페이지 번호를 출력합니다. 
						          Thymeleaf의 표현식 ${i + 1}은 0부터 시작하는 페이지 번호를 1부터 시작하도록 변환합니다.  
						   -->
					 </li>



					<!-- 이후 버튼  -->
					<li th:class="${page.last} ? 'page-item disabled' : 'page-item' ">
					
						<a class="page-link"
						   th:href="@{${#httpServletRequest.requestURI}(page=${page.totalPages -1})}">&raquo;</a>
					</li>
					
									
				</ul>
			</nav>
			
			
		</div>		
	</th:block>
	
	
</body>
<th:block th:replace="/layouts/footer::footerLayout"></th:block>
</html>

